{% extends 'base.html' %}

{% block content %}


<div class="card mb-3">

        <div class="card-body">
            <h5 class="card-title">
                <a href="{%url 'project_detail' project.id%}"
                class="text-decoration-none text-black">
               Project Name:  {{ project.name }}
                </a>
            </h5>

            <p>Description:  {{ project.description }}</p>

            <span class="badge bg-info">

                Status:  {{ project.status }}

            </span>
    <hr>

    <h4>Members</h4>

    <ul>
        {% for member in project.members.all %}
            <li>{{ member.username }}</li>
        {% empty %}
            <li>No Members</li>
        {% endfor %}
    </ul>

    <hr>

    <h4>Tasks</h4>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }}
                -
                {{ task.status }}
            </li>
        {% empty %}
            <li>No Tasks</li>
        {% endfor %}
    </ul>

</div>
</div>
{% endblock %}